# Name & ID: Mahmoud Mraisi - 200510888

## Q1

In [28]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [29]:
b()  
'''by declaring the "global a" inside the funtion "b" 
 this means the global varibel "a = 0" will be effected on 
 every calculations made on it inside the b function. 
 the "a = c(a)" will send in the global a to function c. 
 inside funciton "c" which there will be with 2 --> (a+2); 
 the funciton "c" will return a with the value 2 at first'''
b() 
b()

'''after calling b on the third time the 
'a' global varible will be 6 after excuting the funtion 3 times (((0+2) + 2) +2)'''
a

6

## Q2

In [30]:

    def file_length(file_name):
        try:
            file = open(file_name)
            contents = file.read()
            file.close()
            print(len(contents))
        except FileNotFoundError:
            print("File {} not found.".format(file_name))

file_length('midterm.py')

File midterm.py not found.

## Q3

In [31]:
class Marsupial:
    def __init__(self, animals = []):
        self.animals = animals
    def put_in_pouch(self, animal):
        self.animals.append(animal)
    def pouch_contents(self):
        print(self.animals)
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [32]:
class Kangaroo(Marsupial):
    def __init__(self, x, y, animals=[]):
        self.x = x
        self.y = y
        Marsupial.__init__(self, animals)
    def jump(self, dx, dy):
        self.x = self.x + dx
        self.y = self.y + dy
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x, self.y)

    
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [33]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [34]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

## Q4

In [35]:
def collatz(x):
    print(x)
    if(x%2 == 0):
        return collatz(x//2)
    elif (x%2 != 0 and x != 1):
        return collatz(3*x + 1)

In [36]:
collatz(1)

1

In [37]:
collatz(10)

10
5
16
8
4
2
1

## Q5

In [38]:
def binary2(n):
    n = abs(n)
    if n == 0:
        return '0'
    else:
        return binary2(n//2) + str(n%2)
    
def binary(n):
    string = binary2(n)
    if(len(string)>1):
        string = string[1:]
        return int(string)
    else:
        return int(string)

In [39]:
binary(0)

0

In [40]:
binary(1)

1

In [41]:
binary(3)

11

In [42]:
binary(9)

1001

## Q6

In [43]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.t = None
    def handle_starttag(self, tag, attrs):
        if(tag == 'h1'):
            self.t = tag
        elif(tag == 'h2'):
            self.t = tag
    def handle_data(self, data):
        if(self.t == 'h1'):
            print(data.strip())
        elif(self.t == 'h2'):
            print(" " , data.strip())

In [44]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission

  Principles

## Q7

In [5]:
from urllib.request import urlopen
from urllib.parse import urljoin
from re import findall
from html.parser import HTMLParser
import textwrap

visited = set()

class Collector(HTMLParser):
    "collects hyperlink URLs into a list"

    def __init__(self, url):
        "initializes parser, the url, and a list"
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        "collects hyperlink URLs in their absolute format"
        if tag == "a":
            for attr in attrs:
                if attr[0] == "href":
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == "http":  # collect HTTP URLs
                        self.links.append(absolute)

    def getLinks(self):
        "returns hyperlinks URLs in their absolute format"
        return self.links

In [6]:
def analyze(url, ident):

    # obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()  # get list of links

    # print the http links found in web page
    print("\n{:45}".format(url))
    for link in urls:
        print("\n{:10}".format(textwrap.indent(link, ident* '    ')))

    return urls

In [7]:

def crawl2(url, ident):
    """a recursive web crawler that calls analyze()
    on every visited web page"""

    # add url to set of visited pages
    global visited  # warns the programmer
    visited.add(url)

    # analyze() returns a list of hyperlink URLs in web page url
    links = analyze(url, ident)

    # recursively continue crawl from every link in links
    for link in links:
        # follow link only if not visited
        if link not in visited:
            try:
                crawl2(link)
            except:
                pass

In [8]:
crawl2("http://reed.cs.depaul.edu/lperkovic/test1.html", 2)

http://reed.cs.depaul.edu/lperkovic/test1.html

        http://reed.cs.depaul.edu/lperkovic/test2.html

        http://reed.cs.depaul.edu/lperkovic/test3.html

## Q8

In [49]:
import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS Forecast (City text, Country text, Season text, Temperature float,  Rainfall float)")

In [50]:
cur.execute("INSERT INTO Forecast VALUES ('Mumbai', 'India', 'Winter',24.8, 5.9)")
cur.execute("INSERT INTO Forecast VALUES ('Mumbai', 'India', 'Spring',28.4 ,16.2 )")
cur.execute("INSERT INTO Forecast VALUES ('Mumbai', 'India', 'Summer',27.9 , 1549.4 )")
cur.execute("INSERT INTO Forecast VALUES ('Mumbai', 'India', 'Fall',27.6 , 346.0 )")
cur.execute("INSERT INTO Forecast VALUES ('London', 'United Kingdom', 'Winter',4.2 , 207.7)")
cur.execute("INSERT INTO Forecast VALUES ('London', 'United Kingdom', 'Spring',8.3 , 169.6)")
cur.execute("INSERT INTO Forecast VALUES ('London', 'United Kingdom', 'Summer',15.7 , 157.0)")
cur.execute("INSERT INTO Forecast VALUES ('London', 'United Kingdom', 'Fall',10.4 , 218.5)")
cur.execute("INSERT INTO Forecast VALUES ('Cairo', 'Egypt', 'Winter',13.6 , 16.5)")
cur.execute("INSERT INTO Forecast VALUES ('Cairo', 'Egypt', 'Spring',20.7 , 6.5)")
cur.execute("INSERT INTO Forecast VALUES ('Cairo', 'Egypt', 'Summer',27.7 , 0.1)")
cur.execute("INSERT INTO Forecast VALUES ('Cairo', 'Egypt', 'Fall',22.2 , 4.5)")

OperationalError: database is locked

In [ ]:
con = sqlite3.connect('web.db')
cur = con.cursor()
cur.execute('SELECT * FROM ForeCast')
cur.fetchall()

## Answers of Q8

In [ ]:
%%sql
SELECT Temperature FROM TableName

In [ ]:
%%sql
SELECT DISTINCT City FROM TableName

In [ ]:
%%sql
SELECT * FROM TableName WHERE City = 'India'

In [ ]:
%%sql
SELECT * FROM TableName WHERE Season = 'Fall'

In [ ]:
%%sql
SELECT City, Country, Season FROM TableName WHERE Temperature between 200 and 400

In [ ]:
%%sql 
SELECT City, Country FROM TableName WHERE AVG(Temperature) > 200 and Season = 'Fall'
ORDER BY Temperature ASC

In [ ]:
%%sql
SELECT SUM(Rainfall) AS TotalAnnual FROM TableName WHERE City = 'Cairo'

In [ ]:
%%sql
SELECT SUM(Rainfall) AS TotalAnnual FROM TableName WHERE City = 'Cairo'

In [ ]:
%%sql
SELECT SUM(Rainfall) AS TotalAnnual FROM TableName
GROUP BY Season

## Q9

In [52]:
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

In [53]:
a = [word.upper() for word in words]
a

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [54]:
b = [word.lower() for word in words]
b

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [55]:
c = [len(word) for word in words]
c

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [56]:
d = [[word.upper(), word.lower(), len(word)] for word in words]
d

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [57]:
e = [word for word in words if len(word) >= 4] 
## the list of words in list words containing 4 or more characters
e

['quick', 'brown', 'jumps', 'over', 'lazy']